/games/HROOB/node_modules
/games/TAYARAONLINE/node_modules
/secondaire/node_modules
/secondaire/client/node_modules
/principal/node_modules
/principal/client/node_modules
/principal/server/modulesGames/Haraga_online/node_modules
/principal/server/modulesGames/MineBattle/node_modules
/principal/Channel_Room/client/node_modules
/principal/Channel_Room/server/node_modules
/principal/Channel_Room/node_modules
